.apanel{
    .header{
        display: flex;
        justify-content: space-around;

        gap: 12px;
        padding: 12px;
        border-bottom: 1px solid lightgrey;

        .welcome{
            display: flex;
            justify-content: flex-start;
        }
        .links{
            display: flex;
            gap: 12px;
        }
        a{
            text-decoration: none;
            color: var(--bs-black-rgb);
            padding: 1px 6px;
            border: 1px solid lightgrey;
            border-radius: .2rem;
            &:hover{
                background-color: whitesmoke;
                box-shadow: 1px 1px 3px lightgrey;
            }
        }
    }

    main{
        position: relative;
        display: flex;
        flex-direction: column;

        gap: 30px;
        width: 80%;
        min-width: 310px;
        margin: 50px auto;

        .choose, .filters{
            position: relative;
            flex-wrap: wrap;

            width: 100%;
            padding: 6px;
            background-color: whitesmoke;
            border-radius: .2rem;
            box-shadow: 1px 1px 5px #cdcdcd;
            .title{
                width: 100%;
                font-size: 2em;
                font-weight: bold;
                color: rgba(0, 0, 0, 0.8);
            }

        }
        .choose{
            display: flex;
            .title{
                text-align: center;
            }
            .choose__group, .choose__category{
                display: flex;
                flex-direction: column;
                padding: 10px;
                width: calc(100% / 3);
            }
            .choose__group{}
            .choose__category{}
        }

        .filters{
            display: none;
            .title{
            }
            form{
                display: flex;
                flex-wrap: wrap;
                //gap: 20px;
                padding: 6px;
                .section{
                    //flex: 1;
                    //max-width: 310px;
                    //min-width: 260px;
                    padding: 10px;
                    width: 25%;
                    label{
                        position: relative;
                        display: flex;
                        flex-wrap: wrap;
                        gap: 6px;
                        .l_title{
                            width: 100%;
                        }
                        input{
                            flex: 1;
                        }
                    }
                }
                .section__apartment_rooms, .section__rooms_rooms{
                    label{
                        position: relative;
                        gap: 0;
                        label{
                            display: flex;
                            padding: 3px;
                            gap: 4px;
                            width: calc(100% / 3);
                            input{
                                flex: none;
                                width: 16px;
                                height: 16px;
                                transform: translateY(2px);
                            }
                        }
                    }
                }
                .buttons{
                    display: flex;
                    justify-content: flex-end;

                    width: 100%;
                    margin-top: 30px;
                    padding: 10px;
                }
            }

        }
    }

}


@media screen and (max-width: 1025px) {
    .apanel main .filters form .section{
        width: calc(100% / 3);
    }
}
@media screen and (max-width: 769px) {
    .apanel main .filters form .section{
        width: calc(100% / 2);
    }
}
@media screen and (max-width: 426px) {
    .apanel main .choose .choose__group, .apanel main .choose .choose__category {
        padding: 10px 5px;
        width: 100%;
    }
    .apanel main .filters form .section{
        padding: 10px 5px;
        width:100%;
    }

}
@media screen and (max-width: 321px) {
}


.flex{
    display: flex !important;
}

.filters_hide{
    display: none !important;
}
